@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colors-default-dark: rgba(37, 37, 37, 1);
    --colors-default-light: rgba(255, 255, 255, 1);

    --colors-primary-default: rgba(185, 110, 255, 1);
    /* custom 2 below */
    --colors-primary-light: rgba(238, 219, 255, 1);
    --colors-primary-dark: rgba(123, 74, 169, 1);

    --colors-secondary-default: rgba(255, 110, 175, 1);
    /* custom 2 below */
    --colors-secondary-light: rgb(255, 110, 175);
    --colors-secondary-dark: rgb(255, 110, 175);

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
